In [1]:
%matplotlib inline
import pandas as pd

In [3]:
cast = pd.read_csv('C:/Vijay/Data Science/Projects & Assignments/Assignments/2.ML_Python/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [8]:
num_movies = cast.shape[0]

In [9]:
print(f'The number of movies in the titles DataFrame is: {num_movies}')

The number of movies in the titles DataFrame is: 3611212

### What are the earliest two films listed in the titles dataframe?

In [10]:
cast_sorted = cast.sort_values(by='year')

In [15]:
earliest_films = cast_sorted.head(2)
print("The earliest two films listed are:")
print(earliest_films)

The earliest two films listed are:
              title  year             name     type  \
2514470  Miss Jerry  1894  Blanche Bayliss  actress
555929   Miss Jerry  1894   Chauncey Depew    actor

                                                 character   n
2514470               Miss Geraldine Holbrook (Miss Jerry) NaN
555929   Himself - the Director of the New York Central... NaN

### How many movies have the title "Hamlet"?

In [17]:
cast_counts = cast['title'].value_counts()

In [18]:
hamlet_count = cast_counts.get('Hamlet', 0)
print(f'The number of movies with the title "Hamlet" is: {hamlet_count}')

The number of movies with the title "Hamlet" is: 313

### How many movies are titled "North by Northwest"?

In [19]:
north_by_northwest_count = cast[cast['title'] == 'North by Northwest'].shape[0]

In [20]:
print(f'The number of movies titled "North by Northwest" is: {north_by_northwest_count}')

The number of movies titled "North by Northwest" is: 112

### When was the first movie titled "Hamlet" made?

In [21]:
hamlet_movies = cast[cast['title'] == 'Hamlet']

In [23]:
earliest_hamlet_year = hamlet_movies['year'].min()
print(f'The first movie titled "Hamlet" was made in the year: {earliest_hamlet_year}')

The first movie titled "Hamlet" was made in the year: 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [24]:
treasure_island_movies = cast[cast['title'] == 'Treasure Island']

In [25]:
treasure_island_movies_sorted = treasure_island_movies.sort_values(by='year')
print("List of 'Treasure Island' movies from earliest to most recent:")
print(treasure_island_movies_sorted)

List of 'Treasure Island' movies from earliest to most recent:
                   title  year                  name     type  \
830114   Treasure Island  1918        Charles Gorman    actor
840745   Treasure Island  1918             Joe Grant    actor
909157   Treasure Island  1918          Edwin Harley    actor
3298306  Treasure Island  1918      Violet Radcliffe  actress
1715014  Treasure Island  1918            Lloyd Perl    actor
...                  ...   ...                   ...      ...
2420089  Treasure Island  1999          Caveh Zahedi    actor
1637661  Treasure Island  1999         Nick Offerman    actor
1375015  Treasure Island  1999           J.P. Manoux    actor
1797264  Treasure Island  1999  Victor Raider-Wexler    actor
307749   Treasure Island  1999          Bob Byington    actor

                       character     n
830114           Prologue Player   NaN
840745   Undetermined child role   NaN
909157           Prologue Player   NaN
3298306         Long John Silver   3.0
1715014                Black Dog   4.0
...                          ...   ...
2420089                   Harold   9.0
1637661                   Samuel   2.0
1375015           Officer Hughes  18.0
1797264                 Samowitz  10.0
307749                    Thomas  12.0

[190 rows x 6 columns]

### How many movies were made in the year 1950?

In [26]:
movies_1950 = cast[cast['year'] == 1950]

In [27]:
num_movies_1950 = movies_1950.shape[0]
print(f'The number of movies made in the year 1950 is: {num_movies_1950}')

The number of movies made in the year 1950 is: 22006

### How many movies were made in the year 1960?

In [28]:
movies_1960 = cast[cast['year'] == 1960]

In [29]:
num_movies_1960 = movies_1960.shape[0]
print(f'The number of movies made in the year 1960 is: {num_movies_1960}')

The number of movies made in the year 1960 is: 18456

### How many movies were made from 1950 through 1959?

In [30]:
movies_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]

In [31]:
num_movies_1950s = movies_1950s.shape[0]
print(f'The number of movies made from 1950 through 1959 is: {num_movies_1950s}')

The number of movies made from 1950 through 1959 is: 210986

### In what years has a movie titled "Batman" been released?

In [32]:
batman_movies = cast[cast['title'] == 'Batman']

In [33]:
years_batman_movies = batman_movies['year'].unique()
print(f'The movie "Batman" has been released in the following years: {years_batman_movies}')

The movie "Batman" has been released in the following years: [1943 1989]

### How many roles were there in the movie "Inception"?

In [34]:
inception_roles = cast[cast['title'] == 'Inception']

In [35]:
num_roles_inception = inception_roles.shape[0]
print(f'The number of roles in the movie "Inception" is: {num_roles_inception}')

The number of roles in the movie "Inception" is: 77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [36]:
inception_roles_no_ranking = cast[(cast['title'] == 'Inception') & (cast['n'].isnull())]

In [37]:
num_roles_no_ranking = inception_roles_no_ranking.shape[0]

print(f'The number of roles in the movie "Inception" without ranking is: {num_roles_no_ranking}')

The number of roles in the movie "Inception" without ranking is: 26

### But how many roles in the movie "Inception" did receive an "n" value?

In [38]:
inception_roles_with_ranking = cast[(cast['title'] == 'Inception') & ~cast['n'].isnull()]

In [39]:
num_roles_with_ranking = inception_roles_with_ranking.shape[0]

print(f'The number of roles in the movie "Inception" with ranking is: {num_roles_with_ranking}')

The number of roles in the movie "Inception" with ranking is: 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [40]:
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & cast['n'].notnull() & cast['n'].astype(str).str.isnumeric()]

In [41]:
north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'])

In [42]:
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')
print('The cast of "North by Northwest" in their correct "n"-value order:')
print(north_by_northwest_cast_sorted[['n', 'name', 'character']])

The cast of "North by Northwest" in their correct "n"-value order:
Empty DataFrame
Columns: [n, name, character]
Index: []

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [43]:
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972) & cast['n'].notnull() & cast['n'].astype(str).str.isnumeric()]

In [44]:
sleuth_1972_cast['n'] = pd.to_numeric(sleuth_1972_cast['n'])

In [45]:
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')
print('The entire cast of the 1972 film "Sleuth" in "n"-value order:')
print(sleuth_1972_cast_sorted[['n', 'name', 'character']])

The entire cast of the 1972 film "Sleuth" in "n"-value order:
Empty DataFrame
Columns: [n, name, character]
Index: []

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [47]:
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007) & cast['n'].notnull() & cast['n'].astype(str).str.isnumeric()]

In [48]:
sleuth_2007_cast['n'] = pd.to_numeric(sleuth_2007_cast['n'])

In [49]:
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')
print('The entire cast of the 2007 film "Sleuth" in "n"-value order:')
print(sleuth_2007_cast_sorted[['n', 'name', 'character']])

The entire cast of the 2007 film "Sleuth" in "n"-value order:
Empty DataFrame
Columns: [n, name, character]
Index: []

### How many roles were credited in the silent 1921 version of Hamlet?

In [50]:
hamlet_1921_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]

In [51]:
num_roles_hamlet_1921 = hamlet_1921_roles.shape[0]

print(f'The number of credited roles in the silent 1921 version of "Hamlet" is: {num_roles_hamlet_1921}')

The number of credited roles in the silent 1921 version of "Hamlet" is: 9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [52]:
hamlet_1996_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]

In [53]:
num_roles_hamlet_1996 = hamlet_1996_roles.shape[0]

print(f'The number of credited roles in Kenneth Branagh\'s 1996 version of "Hamlet" is: {num_roles_hamlet_1996}')

The number of credited roles in Kenneth Branagh's 1996 version of "Hamlet" is: 54

### How many "Hamlet" roles have been listed in all film credits through history?

In [54]:
all_hamlet_roles = cast[cast['title'] == 'Hamlet']

In [55]:
num_roles_all_hamlet = all_hamlet_roles.shape[0]

print(f'The total number of "Hamlet" roles listed in all film credits through history is: {num_roles_all_hamlet}')

The total number of "Hamlet" roles listed in all film credits through history is: 313

### How many people have played an "Ophelia"?

In [56]:
ophelia_roles = cast[cast['character'] == 'Ophelia']

In [57]:
num_ophelia_actors = ophelia_roles['name'].nunique()

print(f'The number of people who have played the role of "Ophelia" is: {num_ophelia_actors}')

The number of people who have played the role of "Ophelia" is: 109

### How many people have played a role called "The Dude"?

In [58]:
the_dude_roles = cast[cast['character'] == 'The Dude']

In [59]:
num_the_dude_actors = the_dude_roles['name'].nunique()

print(f'The number of people who have played the role of "The Dude" is: {num_the_dude_actors}')

The number of people who have played the role of "The Dude" is: 18

### How many people have played a role called "The Stranger"?

In [60]:
the_stranger_roles = cast[cast['character'] == 'The Stranger']

In [61]:
num_the_stranger_actors = the_stranger_roles['name'].nunique()

print(f'The number of people who have played the role of "The Stranger" is: {num_the_stranger_actors}')

The number of people who have played the role of "The Stranger" is: 197

### How many roles has Sidney Poitier played throughout his career?

In [62]:
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']

In [63]:
num_sidney_poitier_roles = sidney_poitier_roles['character'].nunique()

print(f'Sidney Poitier has played {num_sidney_poitier_roles} roles throughout his career.')

Sidney Poitier has played 41 roles throughout his career.

### How many roles has Judi Dench played?

In [64]:
judi_dench_roles = cast[cast['name'] == 'Judi Dench']

In [65]:
num_judi_dench_roles = judi_dench_roles['character'].nunique()

print(f'Judi Dench has played {num_judi_dench_roles} roles throughout her career.')

Judi Dench has played 46 roles throughout her career.

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [67]:
cary_grant_supporting_roles_1940s = cast[
    (cast['name'] == 'Cary Grant') & 
    (cast['n'] == 2) & 
    (cast['year'].between(1940, 1949))]

In [68]:
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')
print('Cary Grant\'s supporting roles with n=2 in the 1940s:')
print(cary_grant_supporting_roles_1940s_sorted[['year', 'title', 'character']])

Cary Grant's supporting roles with n=2 in the 1940s:
        year             title    character
840371  1940  My Favorite Wife         Nick
840381  1941    Penny Serenade  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [69]:
cary_grant_leading_roles_1940s = cast[
    (cast['name'] == 'Cary Grant') & 
    (cast['n'] == 1) & 
    (cast['year'].between(1940, 1949))
]

In [70]:
cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values(by='year')
print('Cary Grant\'s leading roles in the 1940s:')
print(cary_grant_leading_roles_1940s_sorted[['year', 'title', 'character']])

Cary Grant's leading roles in the 1940s:
        year                                 title              character
840397  1940               The Howards of Virginia            Matt Howard
840353  1940                       His Girl Friday           Walter Burns
840399  1940                The Philadelphia Story     C. K. Dexter Haven
840386  1941                             Suspicion                Johnnie
840401  1942                  The Talk of the Town           Leopold Dilg
840377  1942                 Once Upon a Honeymoon  Patrick 'Pat' O'Toole
840344  1943                     Destination Tokyo          Capt. Cassidy
840369  1943                             Mr. Lucky              Joe Adams
840370  1943                             Mr. Lucky        Joe Bascopolous
840378  1944                      Once Upon a Time            Jerry Flynn
840336  1944                  Arsenic and Old Lace      Mortimer Brewster
840373  1944             None But the Lonely Heart             Ernie Mott
840372  1946                         Night and Day            Cole Porter
840375  1946                             Notorious                 Devlin
840393  1947      The Bachelor and the Bobby-Soxer            Dick Nugent
840394  1947                     The Bishop's Wife                 Dudley
840368  1948  Mr. Blandings Builds His Dream House          Jim Blandings
840348  1948          Every Girl Should Be Married      Dr. Madison Brown
840357  1949                I Was a Male War Bride  Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [71]:
roles_1950s = cast[cast['year'].between(1950, 1959)]

In [72]:
num_roles_1950s = roles_1950s['character'].nunique()

print(f'The number of roles available for actors in the 1950s is: {num_roles_1950s}')

The number of roles available for actors in the 1950s is: 125866

### How many roles were available for actresses in the 1950s?

In [73]:
actress_roles_1950s = cast[(cast['year'].between(1950, 1959)) & (cast['type'] == 'actress')]

In [74]:
num_actress_roles_1950s = actress_roles_1950s['character'].nunique()

print(f'The number of roles available for actresses in the 1950s is: {num_actress_roles_1950s}')

The number of roles available for actresses in the 1950s is: 35432

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [75]:
leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)]

In [76]:
num_leading_roles_until_1980 = leading_roles_until_1980['character'].nunique()

print(f'The number of leading roles available from the beginning of film history through 1980 is: {num_leading_roles_until_1980}')

The number of leading roles available from the beginning of film history through 1980 is: 51200

### How many non-leading roles were available through from the beginning of film history through 1980?

In [77]:
non_leading_roles_until_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]

In [78]:
num_non_leading_roles_until_1980 = non_leading_roles_until_1980['character'].nunique()

print(f'The number of non-leading roles available from the beginning of film history through 1980 is: {num_non_leading_roles_until_1980}')

The number of non-leading roles available from the beginning of film history through 1980 is: 558711

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [79]:
minor_roles_until_1980 = cast[(cast['n'].isnull()) & (cast['year'] <= 1980)]

In [80]:
num_minor_roles_until_1980 = minor_roles_until_1980['character'].nunique()

print(f'The number of roles through 1980 that were minor enough not to warrant a numeric "n" rank is: {num_minor_roles_until_1980}')

The number of roles through 1980 that were minor enough not to warrant a numeric "n" rank is: 186116

###  **END - THANK YOU**